@font-face {
    font-family: 'California';
    src: url('California-Medium.woff2') format('woff2'),
        url('California-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/*******************
*      HEADER      *
*******************/

header{
	background-image: url("images/joe-mcdaniel-380048-unsplash.jpg");
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	z-index: 0;
	/**background-position: center bottom;**/
}

header:after{
	background-image: url("images/joe-mcdaniel-380048-unsplash4.png");
	content: "";
	display: block;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	/**background-position: center bottom;**/
}

h1{
	font-family: "California";
	font-size: 15vw;
	margin-top: 16%;
	position: absolute;
	color: white;
}

nav {
  width:100vw;
  height:auto;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

nav ul {
  list-style-type:none;
  margin: auto;
  margin-top: 30px;
  z-index: 999;
}

nav li {
  display: inline-block;
  margin: 0 40px;
}

nav a{
	color: white;
	font-family: "California";
	font-size: 200%;
	text-decoration: none;
}

#tribal{
	height: 100vh;
	position: absolute;
	margin-left: 90vw;
	z-index: 999;
}
/*******************
*      FAUNE      *
*******************/

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: white;
}

/*SURICATE*/

#o_imgsuri{
  float: right;
  width: 50%;
  padding-left: 0%;
  text-align: center;
}

#o_imgs{
	width: 100%;
}

#o_textsuri h2{
	font-family: "California";
	font-size: 500%;
	text-align: left;
	padding-top: 15%;
	padding-left: 25%;
}

#o_textsuri p{
  float: left;
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 1.5;
  font-weight: bold;
  width:30%;
  text-align: left;
  padding-left: 20%;
}

/*PINGUOINS*/

#o_pingouin{
	overflow: hidden;
}

#o_imgping{
  float: left;
  width: 50%;
  padding-left: 0%;
  text-align: center;
}

#o_imgp{
	width: 100%;
}

#o_textping h2{
	font-family: "California";
	font-size: 500%;
	text-align: right;
	padding-top: 20%;
	padding-right: 25%;
}

#o_textping p{
  float: right;
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 1.5;
  font-weight: bold;
  width:30%;
  text-align: right;
  padding-right: 20%;
}

/*CROCODILE*/

#o_croco{
	overflow: hidden;
}

#o_imgcroco{
  float: right;
  width: 50%;
  padding-left: 0%;
  text-align: center;
}

#o_imgc{
	width: 100%;
}

#o_textcroco h2{
	font-family: "California";
	font-size: 500%;
	text-align: left;
	padding-top: 10%;
	padding-left: 20%;
}

#o_textcroco p{
  float: left;
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 1.5;
  font-weight: bold;
  width:30%;
  text-align: left;
  padding-left: 15%;
}

/*PINGUOINS*/

#o_gir{
	overflow: hidden;
}

#o_imggir{
  float: left;
  width: 50%;
  padding-left: 0%;
  text-align: center;
}

#o_imgg{
	width: 100%;
}

#o_textgir h2{
	font-family: "California";
	font-size: 500%;
	text-align: right;
	padding-top: 10%;
	padding-right: 25%;
}

#o_textgir p{
  float: right;
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 1.5;
  font-weight: bold;
  width:30%;
  text-align: right;
  padding-right: 20%;
}


.slide2 {
  background-image: white;
}
.slide3 {
  background-image: white;
}
.slide4 {
  background-image: white;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 10rem;
  color: #000;
  font-family: "California";
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: 35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #000 transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #000;
  right: 0;
  margin-right: 30px;
}





/*******************
*      FLORE       *
*******************/

.titre{
	text-align: center;
	font-family: "California";
	font-size: 100px;
	padding-top: 10%;
	padding-bottom: 10%;
}


#o_flore {
	background-color: #420F01;
	color: white;
}

.o_imgarb {
    width: 80%;
    height: 80%;
}

#o_arb1{
	width: 100%;
	background-color: #420F01;
	height: 700px;
}

#o_imgarb1{
  float: left;
  width: 50%;
  padding-left: 0%;
  text-align: center;
}

#o_textarb1{
  float: right;
  width: 50%;
  padding-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 2;
  font-weight: bold;
}

#o_textarb1 p{
	width:70%;
}

#o_arb2{
	width: 100%;
	height: 550px;
	background-color: #933900;
}

#o_imgarb2{
  float: right;
  width: 45%;
}

#o_textarb2{
  float: left;
  width: 50%;
  padding-top: 12%;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 2;
  font-weight: bold;
}

#o_textarb2 p{
	width:70%;
  padding-left: 20%;
}

#h3foot{
	width: 70%;
	padding-left: 20%;
}

/*******************
*      SPORT       *
*******************/

#r_bg_marron{
	background-color: #933900;
	width: 100vw;
	height: 30px;
}

#r_bg_beige{
	background-color: #D07302;
	width: 100vw;
	height: 30px;
}

#r_sport{
	color: black;
	background-color: #FBD700;
}

#r_bg_jaune{
	background-color: #FBD700;
	width: 100vw;
}

#o_rugby{
	width: 100%;
	background-color: #FBD700;
	height: 30vh;
}

#o_foot{
	width: 100%;
	height: 125vh;
	background-color: #FBD700;
}

h3{
	font-family: "California";
	font-size: 230%;
}

#o_imgfoot{
  float: right;
  width: 45%;
  margin-top: 10%;
}

#o_cricket{
	width: 100%;
	height: 300px;
	margin-top: -30vh;
}

#tribal2{
	width: 100vw;
	margin-top: 15vh;
}

/*******************
*     CULTURE      *
*******************/

/*******************
*      FOOTER      *
*******************/
